body {
  background-color: #ffe4c4;
  padding-top: 30px;
}
a {
  color: green;
}
.email-link {
  color: blue;
}
h1 {
  text-align: center;
}
p {
  font-size: 15px;
}
img {
  border-radius: 10px;
  display: block;
  max-width: 600px;
  margin: 30px auto;
}
